name: CI

on: [push]

jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [14.x, 16.x, 17.x]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install (with cache)
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: yarn lint:fix

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build

      - name: Archive
        run: yarn build:archive
